body {
    background-color: darkgray;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    width: 1050px;
    display: flex;
    margin: 30px;
    cursor: pointer;
}
img {
    width: 220px;
    height: 140px;
}
.img {
    width: 40%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
}
main {
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    width:60%;
    background-color: gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
span {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
}
.text:hover{
    background-color: red;
}
#third-replace {
    display: none;
    flex-direction: column;
    width: 1050px;
    margin: 15px;
}
#second-replace{
    display: none;
    flex-direction: column;
    width: 1050px;
    margin: 15px;
}
#first-replace{
    display: none;
    flex-direction: column;
    width: 1050px;
    margin: 15px;
}
.replace {
    display: none;
    flex-direction: column;
    width: 1050px;
    margin: 15px;
}
.ingredients {
    display:flex;
}
.header {
    background-color: gray;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.ingredients {
    background-color: white;
    height: 140px;
}
.preparation {
    background-color: gray;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 140px;
}
.header-span {
    margin:0px
}
.header {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
#replace-img {
    width:170px;
    height: 120px;
}
#replace-img-container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
li {
    list-style: none;
}