body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif
}
main {
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span {
    display: inline-block;
    font-size: 30px;
}
li {
    list-style: none;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 130px;
    margin-bottom: 30px;
    border-bottom:1px solid black;
    height: 120px;
}
header a {
    border: 1px solid black;
    font-size: 30px;
    margin-right: 15px;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
}
#catalog {
    background-color: green;
    color: white;
}
#login {
    background-color: brown;
    color: black;
}
#register {
    background-color: brown;
    color:black
}
h1 {
    font-size: 50px;
}  
  ul {
    display:inline-block;
  }
  #welcome-div {
    background-color: lightsteelblue;
    width:70%;
    margin:auto;
    margin-bottom: 50px;
    display: flex;
    height: 80px;
    align-items: center;
    padding-left: 15px;
  }
  #add-massege {
    background-color: lightsteelblue;
    width:70%;
    margin:auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    height: 55px;
    padding-left: 15px;
  }
  #last-recipes {
    display:flex;
    width: 70%;
    height:250px;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
  }
  .item {
    width: 30%;
    height:80%;
    background-color: lightsteelblue;
    border: 1px;
    border-radius: 20%;
  }
  .item .img-div {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;

  }
  img {
    width: 180px;
    height: 130px;
  }
  .item .footer {
    display: flex;
    align-items: center;
    padding-top: 6px;
    font-size: larger;
    padding-left: 30px;
  }
  #footer {
    width: 70%;
    background-color: lightsteelblue;
    font-size: 30px;
    height:60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  #footer a {
    margin-left: 5px;
    color:green;
    text-decoration: none;
  }
  #clone-item {
    display:none;
  }